Repository Students-of-the-city-of-Kostroma/trpo_automation, pull requests merged in 2020-03, with the labels that each got.

#53 Перебор "Входящих" с архивацией почты отправителя
  email/18-ISbo-2a/google.py
  email/18-ISbo-2a/logging_config.conf
Labels: Google

#50 Запрос в журнал для выставление оценки
  email/18-ISbo-2a/AddMarkTest.py
  email/18-ISbo-2a/Example.json
  email/18-ISbo-2a/config.py
  email/18-ISbo-2a/google.py
Labels: Google

#62 Развернуть локальный веб-сервер #29
  Server/.idea/Server.iml
  Server/.idea/encodings.xml
  Server/.idea/misc.xml
  Server/.idea/modules.xml
  Server/.idea/workspace.xml
  Server/Serv/__init__.py
  Server/Server.py
Labels: Server, new

#92 Поиск почты в таблице.
  README.md
  email/18-ISbo-2a/google.py
Labels: Google, Sprint 1

#110 Внесены изменения в config
  email/18-ISbo-2a/client.py
  email/18-ISbo-2a/config.py
Labels: Server

#113 Issue 18
  LICENSE
  ValidationLetters/Test_Mails.py
  ValidationLetters/bodys.txt
  ValidationLetters/main.py
  ValidationLetters/subjects.txt
Labels: Google

#122 Revert "issue 23_2 (Файл с ключом)"
  Tables/trpo-bot-e25d7c8c50a0.json
Labels: Critical

#125 Разработан метод рассылки писем
  email/18-ISbo-2a/google.py
Labels: Google, Sprint 2

#127 Issue 7
  email/18-ISbo-2a/stub_for_server.py
Labels: Sprint 1

#128 Добавить логи в ветку 18-ISbo-2a
  email/18-ISbo-2a/AddMarkTest.py
  email/18-ISbo-2a/client.py
  email/18-ISbo-2a/google.py
  email/18-ISbo-2a/stub_for_server.py
Labels: Loging, Sprint 2

#129 Валидация письма
  email/18-ISbo-2a/Validation.py
Labels: Google, Sprint 2, Sprint 3

#138 Исправлен баг с labNumber
  email/18-ISbo-2a/client.py
Labels: Client, Sprint 3, bug

#140 Исправлен баг с google.py
  email/18-ISbo-2a/APIgoogle.py
Labels: Sprint 3, bug

#126 Создание tcp сервера #44, подключение клиента к серверу #45
  TRPO/.gitignore
  TRPO/TRPO.pro
  TRPO/main.cpp
  TRPO/tcpserver.cpp
  TRPO/tcpserver.h
Labels: Coding

#150 Реализовал изменение структуры программы
  email/18-ISbo-2a/APIgoogle.py
Labels: Google, Sprint 3

#155 Исправить ссылки в коде
  email/18-ISbo-2a/APIgoogle.py
Labels: Google, Sprint 3

#154 Server+Selenium
  LR03/pom.xml
  LR03/src/main/java/Selenium.java
  LR03/src/main/java/Server.java
Labels: Sprint_1VTb

#161 Добавлено считывание из файла
  LR03/Repository.xml
  LR03/pom.xml
  LR03/src/main/java/Selenium.java
  LR03/src/main/java/Server.java
Labels: Selenium, Sprint_1VTb

#173 Обновлены методы
  LR03/src/main/java/Selenium.java
  LR03/src/main/java/Server.java
Labels: Selenium, Sprint_1VTb

#164 Реализация отправки данных клиенту #48
  TRPO/tcpserver.cpp
  TRPO/tcpserver.h
Labels: Coding, Server

#146 Парсинг данных: GitHub #87
  .gitignore
  Parsing/Parse.py
Labels: Sprint 2, realization

#147 Классы для работы с гугл-таблицами
  Auth.py
  Sheet.py
Labels: Google, Sprint 3, Sprint 4, realization

#182 Разаботан метод SendJSONForCheck и приведен пример работы
  TCP/SendJSONForCheck.py
  TCP/config1.txt
  TCP/config2.txt
  TCP/config3.txt
  TCP/config4.txt
  TCP/config5.txt
  TCP/klient.py
  TCP/read_file.json
  TCP/server1.py
  TCP/server2.py
  TCP/server3.py
  TCP/server4.py
  TCP/server5.py
  TCP/student1.json
  TCP/student2.json
  TCP/student3.json
  TCP/student4.json
  TCP/student5.json
  TCP/write_file.json
Labels: Sprint 3, realization

#169 Added logging
  email/18-ISbo-2a/APIgoogle.py
  email/18-ISbo-2a/Validation.py
  email/18-ISbo-2a/client.py
  email/18-ISbo-2a/log_method.py
  email/18-ISbo-2a/logging_config.conf
  email/18-ISbo-2a/stub_for_server.py
Labels: Loging, Sprint 3

#174 Реализация получения данных от клиента в формате json
  TRPO/tcpserver.cpp
  TRPO/tcpserver.h
Labels: Coding, Server

#197 Разбить метод на модули
  email/18-ISbo-2a/APIgoogle.py
  email/18-ISbo-2a/Validation.py
Labels: Google, Sprint 4

#201 Фикс ошибки работы декоратора для логирования
  email/18-ISbo-2a/log_method.py
Labels: Sprint 4

#206 Автотесты (свершилось)
  email/18-ISbo-2a/Example.json
  email/18-ISbo-2a/Test_google.py
  email/18-ISbo-2a/Test_validation.py
Labels: Sprint 4, Testing

#205 Добавил метод рассылки писем ТП
  email/18-ISbo-2a/APIgoogle.py
Labels: Google, Sprint 4

#230 Был создан main
  email/18-ISbo-2a/APIgoogle.py
  email/18-ISbo-2a/Validation.py
  email/18-ISbo-2a/main.py
Labels: Server, Sprint 4

#180 Update Check_Branches
  LR03/src/main/java/Selenium.java
Labels: Selenium, Sprint_1VTb

#236 Обновлена проверка
  LR03/src/main/java/Selenium.java
Labels: Selenium, Sprint_1VTb

#237 Обновил Check_Project()
  LR03/src/main/java/Selenium.java
Labels: Selenium, Sprint_1VTb
